{% extends('GameBundle::layout.html.twig') %}
{% block section %}
    <h4>Votre minibook est en cours de téléchargement!</h4>
    <h3>Dès que le téléchargement est terminé , imprimez-le et pliez-le comme ceci:</h3>
    <img src="../../../../web/uploads/divers/pliageMinibook.png" alt="pliageMinibook"/>

{% endblock %}